# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-1.12
CREDITS-fml.txt
run-1.10/
run-1.11/
run-1.9.4/
run-1.13/
classes/
run-1.14/
run-server-1.12/
run-1.15/
