saves/
mods/
logs/
eclipse/
crash-reports/
config/
asm/
.settings/
.metadata/
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
CREDITS-fml.txt
forge-1.7.10-10.13.2.1230-changelog.txt
usernamecache.json
bin/
.gradle/
options.txt
make_logs
libs/
.classpath
screenshots/
hs_err_pid7076.log
hs_err_pid9872.log
hs_err_pid3384.log
logo.xcf
